<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper" style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 1em;">
      <div class="footer-col">
        <p class="p-name" style="font-weight: bold; margin-bottom: 0.3em;">
          {{ site.title | escape }}
        </p>
        {%- if site.email -%}
        <p><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {%- endif -%}
      </div>

      <div class="footer-col" style="text-align: right;">
        <p>Indian Institute of Science, Bengaluru</p>
        {%- include social.html -%}
      </div>
    </div>
  </div>

</footer>
